
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>

    <table  bgcolor="#fffacd" border="4">
        <tr th:each="car: ${cars}">

            <td style="text-align: center" th:text="${car.getId()}"></td>

            <td style="text-align: center"  th:text="${car.getModel()}"></td>

            <td style="text-align: center" th:text="${car.getSerial()}"></td>
        </tr>
    </table>

</div>
</body>
</html>